/* AwesomeAnimationToast.css */
@keyframes toastSlideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-toast-slide {
    animation: toastSlideIn 0.5s ease-out;
  }
  